
<div class="row">
  {{#each watches}}
    <div class="col s12 m2">
      <div class="card medium">
        <div class="card-image">
          <img src="https://content.rolex.com/dam/new-watches-2020/homepage/roller/all-watches/watches_0008_m124060-0001-submariner_portrait.jpg?imwidth=420">
          <span class="card-title"> {{this.title}} </span>
        </div>
        <div class="card-content">
          <p>{{this.body}}</p>
        </div>
        <div class="card-action">
          <a href="#">Buy</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
